<!doctype html>
<html lang="en">
  <%- include("components/head") %>

<body>
	<a href="/"><button>Back</button></a>
	<% for (let key in product['nutritions']) { %>
		<p><%= key %>: <%= product['nutritions'][key] %></p>
	<% } %>
</body>



</html>
